@charset "URF-8";

body{
    font-family: 'work sans', Helvetica, sans-serif;
    /*
    Medida absolutas
    cm (centimetro), mn (milimetro), in (polegada), px (pixel), pt (ponto), pc (pyka)

    Medidas relativas
    em, ex, rem, vw, vh, %
    usar sempre as fontes PX e EM
    */
    font-size: 1em;
    /* 1em = 16px*/
    /* font-weight (lighter normal bold bolder) */
}
h1{

    /* shorthand font
    font-style -> font-weight -> font-size -> font-family
    sempre nessa ordem senao da erro
    */
    font: italic bolder 3em  'work sans', sans-serif;
}
