@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    background-color: dimgray;
}
header{
    background-color: white;
    padding: 10px;
    margin: 10px;
}
nav{
    background-color: gray;
    padding: 3px;
}
nav > a{
    color: white;
    text-decoration: none;
    margin-right: 30px;
    font-weight: bolder;
}
nav > a:hover{
    color:blueviolet
}
main{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    margin: 0px;
}
footer > p{
    margin: 0px;
}
#noticias{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: larger;
}
div#bola{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}