@charset "UTF-8";

*{
    margin: 0%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

header{
    background-image: url('wallpaper001.jpg');
}

header > h1{
    padding-top: 15px;
}

header > p{
    margin-left: 60px;
    margin-right: 60px;
    padding: 30px;
}

nav{
    background-color: black;
    text-align: left;
    padding-top: 15px;
    padding-left: 5px;
    height: 30px;
}

nav > a{
    color: lightcoral;
    text-decoration: none;
    margin-right: 20px;
}

nav > a:hover{
    background-color: green;
    padding: 5px;
}

.quadrado{
    width: 150px;
    height: 150px;
    border: 10px solid pink;
    display: inline-block;
}

main{
    background-image: url('pattern001.png');
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 15px;
}

main > p{
    color:white;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    text-indent: 25px;
}

div#q1{
    background-color: red;
}
div#q1 > p{
    color: white;
    
}

div#q2{
    background-color: green;
}

div#q3{
    background-color: blue;
}