@charset "UTF-8";

body {
    background-color: blue;
}

ul{
    cursor:default;
    background-color:#000000;
    color:#FFFFFF;
    width:100px;
    font-family:tahoma;
    font-size:18px;         
    list-style-type:none;            
    }
 
 li:hover{
    color:#FFFFFF;
    text-shadow:
       0px 0px 10px #FFFFFF,
       0px 0px 10px #FFFFFF,
       0px 0px 10px #FFFFFF,
       0px 0px 10px #FFFFFF;
 }